/* * {
    border: 1px solid yellow;
} */

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}

body {
    
    display: flex;
    flex-flow: row nowrap;

    margin: 0;
    /* border: blue 5px solid; */
    box-sizing: border-box;

    font-family: 'Exo 2', sans-serif;
    
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: black;
  }
  
  ::selection {
    color: white;
    background: black;
  }

/* ======================================================================== */
/* NAME HEADER DIV ----------------------> */

#nameHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1.5vh 2vw 1.5vh 2vw;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: xxx-large;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin: 0 1vw;
    
    box-shadow: 5px 5px 0px 0px rgb(117 117 117);
    
    min-width: 25%;
    max-width: 25%;
}

#full-name {
    position: absolute;
}

#jobtitle-div {
    text-align: center;
    padding: 0.75vh 0 2.25vh 0;
    /* background-color: black; */
    font-family: 'Exo 2', sans-serif;
    font-weight:700;
    font-size: 0.25em;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */


    position: absolute;
    right: 56vw;
    top: 47.5vh;
}

#jobtitle {
    /* opacity: 0; */
    color: white;

    animation: fadeInAnimation ease 5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

/* END of NAME HEADER DIV */
/* ======================================================================== */

/* ======================================================================== */
/* DISPLAYED CONTENT DIV ----------------------> */
#displayedContent {
    /* border: darkcyan 3px solid; */
    box-sizing: border-box;
    height: 100%;
    /* overflow: auto; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    overflow-y:hidden; /* might need to be SCROLL */
    overflow-x:hidden;
    margin: 0 1vw;
    display: none;
    min-width: 38%;
}


#displayedContent h1, #displayedContent h2, #displayedContent h3 {
    font-family: 'Exo 2', sans-serif;
    margin-block-end: 0;
}

h3 span {
    font-size: .9em;
    vertical-align: text-top;
}

#contact-div {
    margin-top: 1vh;
    text-align: center;
}

#contact-me {
    color: black;
    font-size: 1em;
}

#message-icon {
    font-size: 2vh;
}

#message-icon:link, #message-icon:visited, #message-icon:hover, #message-icon:active {
    text-decoration: none;
    text-decoration-style: none;
    -moz-text-decoration-style: none;
}

.paperclip a:link, .paperclip a:visited, .paperclip a:hover, .paperclip a:active {
    text-decoration: none;
    text-decoration-style: none;
    -moz-text-decoration-style: none;
}

.head-paperclip > a:link, .head-paperclip > a:visited, .head-paperclip > a:hover, .head-paperclip > a:active {
    vertical-align: text-top;
    font-size: .9em;

    text-decoration: none;
    text-decoration-style: none;
    -moz-text-decoration-style: none;
}

#PDF, #GitHub {
    color: white;
    font-family: 'Exo 2';
    font-size: 1em;
}

#main-image {
    height: 62vh;
    background-image: url("img/test.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;

    text-align: center;
    line-height: 61vh;
    font-size: 4vh;
    color: crimson;
}

.closeButton {
    cursor: pointer;

    width: fit-content;
    margin-right: 1vw;
    margin-top: 1vh;

    float: right;

    color: white;
    font-weight: 1000;

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.subtitle {
    margin-block-start: 0;
    font-style: italic;
    font-size: .9em;
}

ol, ul {
    border-left: 1px solid white;
}

.jobdates {
    font-family: 'Exo 2';
    margin-block-start: 0;
    font-size: .95em;
}

.jobdates > span {
    font-weight: 800;
    text-decoration: underline double rgba(255, 255, 255, 0.7);
}
        #aboutTitle {
            margin-block-start: 0;
            margin-block-end: 0;
        } 

        #projectsTitle {
            margin-block-start: 0;
            margin-block-end: 0;
        } 

        #resumeTitle {
            margin-block-start: 0;
            margin-block-end: 0;
        } 

#aboutContent {
    background: darkred;
    border-top: 1px solid white;

    text-align: left;
    display: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;

    padding: 1vh 2vw;
}

#aboutContent a {
    color: white;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    margin-block-end: 0;
    font-size: 2em;
}

#projectsContent {
    background: darkgreen;
    border-top: 1px solid white;

    text-align: left;
    display: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;

    padding: 1vh 2vw;
}

#projectsTitle a {
    color: white;
    font-size: 2.5vh;
}

.projectTitle a {
    color: white;
}

.projectTitle-disabled {
    color: rgb(138, 138, 138);
}

.screenshots {
    border: 1px solid white;
    height: 40vh;
}

.trans-overlay {
    background: rgba(0, 59, 0, 0.7);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:-webkit-fill-available;
    padding-top: 34%;
}

.trans-overlay > h2, .trans-overlay > p {
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
    /* line-height: 40vh; */

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.trans-overlay:hover {
    background: transparent;
    color: transparent;
    cursor: pointer;
}

#screenshot-JustUs {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("img/screenshot1.PNG");
    fill-opacity: .5;
}

#screenshot-Age {
    background-image: url("img/screenshot2.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-Bucket {
    background-image: url("img/screenshot3.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-PPL {
    background-image: url("img/screenshot4.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-Gamer {
    background-image: url("img/gamerdex.gif");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-LPW {
    background-image: url("img/screenshot8.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-Mallen {
    background-image: url("img/screenshot6.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-Tiegrrr {
    background-image: url("img/screenshot7.PNG");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#screenshot-Homework {
/* screenshot homework */
}

#resumeTitle a {
    color:white;
    font-size: 2.5vh;
}

.resumeTitle a {
    color: white;
}

#resumeContent {
    background: darkblue;
    border-top: 1px solid white;
    text-align: left;
    display: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
    padding: 1vh 2vw;
    /* box-shadow: blue 5px 5px 0px 0px; */
}

li {
    font-size: .9em;
}

/* END of DISPLAYED CONTENT DIV ----------------------> */
/* ======================================================================== */

/* ======================================================================== */
/* NAVIGATION BUTTONS DIV ----------------------> */
#navigationButtons {
    /* border: brown 3px solid; */
    box-sizing: border-box;
    /* padding-top: 1.5vh; */
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.main-buttons {
    background-color: black;
    color: white;
    padding: 1.5vh 2vw 1.5vh 2vw;
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size:2.4em;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin: 0 1vw;
}

#aboutButton {
    box-shadow: red 5px 5px 0px 0px;
}

#projectsButton {
    margin-left: 1vw;
    margin-right: 1vw;

    box-shadow: rgb(46, 232, 0) 5px 5px 0px 0px;
}

#resumeButton {
    box-shadow: blue 5px 5px 0px 0px;
}
/* END of NAVIGATION BUTTONS DIV ----------------------> */
/* ======================================================================== */

.outside-column {
    /* width: 100%; */
}

#container {
    /* border: crimson 5px solid; */
    width: 100%;
    height: 91vh;
    margin: 5vh auto 0 auto;
    box-sizing: border-box;
    display: flex;
    /* flex-flow: column nowrap; */
    justify-content: center;
}

@media only screen and (max-width: 1414px) {
    .main-buttons {
        font-size: 1.5em;
    }

    #nameHeader {
        font-size: 2.7rem;
    }
}

@media only screen and (max-width: 1185px) {
    #nameHeader {
        min-width: 20%;
        font-size: 2em;
    }
    
    #full-name {
        position: relative;
        width: min-content;
    }

    #jobtitle-div {
        position: relative;
        right: 0px;
        top: 0px;
    }
  }

@media only screen and (max-width : 815px){  
    .outside-column {
        width: 0;
    }
    
    #container {
        height: 100%;
        max-width: 80%;
        margin: 0 auto 0 auto;
        flex-flow: column nowrap;
        justify-content: center;
    }

    #nameHeader {
        padding: 5vh 0;
        min-width: unset;
        max-width: unset;
        height: 10vh;
    }

    #jobtitle-div {
        display: none;
    }

    #jobtitle {
        display: none;
        /* font-size: 1.5em; */
    }

    #displayedContent {
        height: 60vh;
    }

    #main-image {
        height: 60vh;
    }

    #navigationButtons {
        padding-top: 0;
    }

    .main-buttons {
        font-size: 2em;
        width: 100%;
    }
}

@media only screen and (max-width: 773px) {
    #full-name {
        position: relative;
    }

    #jobtitle-div {
        display: none;
    }
  }

@media only screen and (max-width : 582px){
    
    #container {
        max-width: 100%;
        width: 100vw;
        margin: 0 0 0 0;
    }

    #nameHeader {
        padding: 5vh 0;
    }
    
    #displayedContent {
        height: 60vh;
    }
}

@media only screen and (max-width : 400px){
    .outside-column {
        width: 0;
    }
    
    #container {
        max-width: 100%;
        width: 100vw;
        margin: 0 0 0 0;
    }

    #nameHeader {
        padding: 5vh 0;
        font-size: 1.5em;
        font-weight: 700;
        /* width: 100vw; */
    }

    #jobtitle-div {
        display: none;
    }

    #jobtitle {
        display:none;
    }

    #displayedContent {
        /* width: 100vw; */
        height: 70vh;
    }

    #main-image {
        height: 70vh;
    }

    #navigationButtons {
        padding-top: 0;
    }

    .main-buttons {
        font-size: 1em;
        font-weight: 700;
        padding: 3vh 2vw;
        /* width: 100%; */
        text-align: center;
    }

    #projectsButton {
        margin-left: unset;
        margin-right: unset;
        border-left: 1px solid white;
        border-right: 1px solid white;
    }

    #contact-div {
        display: none;
    }
}

@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
        color: yellow;
    } 
    60% {
        opacity: 1; 
        color: yellow;
    }
    100% { 
        opacity: 1; 
        color: white;
    } 
} 